@use "sass:map";

// --- Bootstrap imports ---

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/offcanvas";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

// --- End Bootstrap imports ---

@import "@absreim/react-bootstrap-data-grid/style";

// --- Styles specific to this project ---

.rbdg-docs-toc {
  min-width: 12rem;
  font-size: 0.9rem;

  ul {
    padding-left: map.get($spacers, 3);
  }
}

.rbdg-docs-toc-li {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.rbdg-docs-main {
  min-height: 0;
  min-width: 0;
}

// --- Shiki themes ---

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@mixin shiki-dark-theme {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

:root[data-bs-theme="dark"] {
  @include shiki-dark-theme;
}

// --- Additional rules ---

// Workaround to prevent FOUC (flashing) when color mode is set to "auto" and the system setting is set to prefer dark
// mode. This is essentially a reimplementation of the dark mode rules for Bootstrap in order to get around Bootstrap
// not innately supporting a mix of system and attribute-based dark mode settings.
//
// This is just partial implementation for the rules that are currently in use. When making changes to this project, be
// sure to test the behavior and add rules as needed. Testing can be done by setting the system preferred color theme
// to "dark" and refreshing the page. One can also edit the "data-bs-theme" attribute on the <html> element to "auto"
// in the browser to observe the styling for a longer period of time.
@media (prefers-color-scheme: dark) {
  :root[data-bs-theme="auto"] {
    @include shiki-dark-theme;
    --bs-body-color: #{$body-color-dark};
    --bs-body-bg: #{$body-bg-dark};
    --bs-link-color: #{$link-color-dark};
    --bs-code-color: #{$code-color-dark};
    --bs-link-color-rgb: #{to-rgb($link-color-dark)};
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-emphasis-color: #{$body-emphasis-color-dark};
    --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};
    --bs-border-color: #{$border-color-dark};
  }
}
